/*
These are the hexcodes for the SPIS colour scheme:
 - #171d25  (Black)
 - #24282f  (Grey)
 - #1a9fff  (Blue)
*/

/* Colour variables to easily change colour scheme */
:root {
  --color-Main: #24282f;
  --color-Secondary: #171d25;
  --color-Accent: #1a9fff;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
  max-height: 100vh;
  overflow: hidden; 
}

.App.expanded {
  max-height: 100%; 
  transition: max-width 0.5s ease; 
  text-align: center;
  overflow: hidden; 
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0s ease-in-out;
  }
}

.App-header {
  background-color: var(--color-Main);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-Accent);
  font-family: "Segoe UI";
}

.App-Form {
  display: flex;
  justify-content: center;
  height: 75px;
}

.App-Input {
  width: 800px;

  padding: 8px;
  border: 0;
  outline: none;

  font-size: calc(30px + 2vmin);
  color: white;
  background-color: var(--color-Secondary);
  font-family: "Segoe UI";
}

.App-Button-Image {
  width: 100%;
  height: 100%;
}

.App-Button {
  width: 75px;

  padding: 8px;
  border: 0;

  color: white;
  background-color: var(--color-Secondary);
  font-family: "Segoe UI";
}

.App-Button:hover {
  color:#1a9fff;
  background-color: #30343c;
}

/* Keyframes to shake the form left and right */
@keyframes App-error-shake {
  0%, 100% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(-10px);
  }
  66% {
    transform: translateX(10px);
  }
}

/* Keyframes to flash something red */
@keyframes App-red-flash {
  0%, 100% {
    background-color: #24282f;
  }
  50% {
    background-color: brown;
  }
}

/* Shake animation */
.Error-shake-animation {
  animation: App-error-shake 0.35s ease-in-out forwards;
}

/* Red flash animation */
.Error-red-flash {
  animation: App-red-flash 0.35s ease-in-out forwards;
}