/* Colour variables to easily change colour scheme */

:root {
    --color-Main: #24282f;
    --color-Secondary: #171d25;
    --color-Accent: #1a9fff;
  }  
  
  .Results-Div {
    background-color: var(--color-Main);
    color: var(--color-Accent);
  }
  
  .Result-Section {
    font-size: calc(10px + 2vmin);
    font-family: "Segoe UI";
    padding-bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .Result-Subtitle{
    text-decoration: underline;
    margin-top: 50px;
    font-size: 30px;
  }

  .Result-Header {
    font-weight: bold;
    font-size: calc(30px + 2vmin);
  }

  .Result-Div-Main {
    display: flex;
    justify-content: center;
    height: 95vh;
  }

  .Result-Header-Main {
    font-size: calc(30px + 2vmin);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .Result-Section-Left {
    background:linear-gradient(to right, var(--color-Secondary),transparent);
    padding: 10px; padding-left: 50px; padding-top: 30px;
    align-items: left;
    justify-content: left;
    text-align: left;
    border-left: 10px solid rgb(24, 24, 24);
  }

  .Result-Paragraph-Left {
    font-size: calc(5px + 2vmin);
    color: white;
    max-width: 50%; /* Adjust the maximum width as needed */
    margin-right: 55%;
    text-wrap: balance;
  }

  .Result-Section-Right {
    background:linear-gradient(to left, var(--color-Secondary),transparent);
    padding: 10px; padding-right: 50px; padding-top: 30px;
    align-items: right;
    justify-content: right;
    text-align: right;
    border-right: 10px solid rgb(24, 24, 24);
  }

  .Result-Paragraph-Right {
    font-size: calc(5px + 2vmin);
    color: white;
    max-width: 50%; /* Adjust the maximum width as needed */
    margin-left: 55%;
    text-wrap: balance;
  }